@yodeskir:registry=https://npm.pkg.github.com
# registry=https://visualis.jfrog.io/artifactory/api/npm/visualis-npm/
# _auth = eW9kZXNraUBnbWFpbC5jb206Y21WbWRHdHVPakF4T2pFM01EYzJOelV6TVRFNk9VeDNTbFZrUzFneE56QnVjSFJHZDIxbVlUbExNVUoyYlRkRA==
# email = yodeski@gmail.com
always-auth = true
engine-strict=true
use-node-version=16.16.0